.gutter-horizontal {
    height: 100%;
    width: 5px;
    background: #141415;
    padding: 0 !important;
    transition: width 200ms;
}
.gutter-vertical{
    height: 5px;
    background: #141415;
    padding: 0 !important;
    transition: height 200ms;
}
.dragger{
    display: none;
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
    background-color: #1c1b22 !important;
}
.circle-picker{
    flex-direction: column;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    width: 18px !important;
    position: absolute;
    top: 50px;
    right: 4px;
}
